.header-container_row {
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.footer-container {
    background-color: #fa9a41;
    color: #fff;
    text-align: center;
}

.hero {
    background-color: #f3f3f7;
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.hero_row {
    align-items: center;
    display: flex;
}

.hero_column_img {
    border-radius: 0.5rem;
    height: 40rem;
    margin-top: 5px;
    width: 40rem;
}

.books {
    padding-bottom: 5rem;
    padding-top: 5rem;
}

.books_item {
    margin-top: 2rem;
}

.books_item_btn--orange,
.hero_colum_btn--orange {
    background-color: #fa9a41;
    border: none;
}

.books_item_img {
    height: 25rem;
}
