.landing-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 80vh;
    justify-content: center;
}

.landing-container_row {
    display: flex;
    gap: 2.5rem;
    justify-content: flex-start;
    width: 100%;
}

.landing-container_image {
    border: 1px solid gray;
    height: 25rem;
    width: 130%;
}

.landing-container_text-row {
    margin-top: 2rem;
    text-align: center;
}

.header-container_row {
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.header-container_icons {
    align-items: center;
    display: flex;
    gap: 2rem;
    justify-content: space-around;
}

.header-container_icons--cart {
    cursor: pointer;
}

.header-container_links {
    color: #000;
    margin-left: 2rem;
    text-decoration: none;
}

.shop-list {
    display: flex;
    justify-content: space-between;
}

.checkout-button {
    background-color: #fa9a41;
    border: none;
    margin-top: 2rem;
}

.checkout-page_group {
    align-items: center;
    display: flex;
    gap: 5rem;
}

.checkout-page_image {
    height: 10rem;
    width: 10rem;
}

.pay-button {
    margin-top: 2rem;
}

.footer-container {
    background-color: #fa9a41;
    color: #fff;
    margin-top: 4rem;
    text-align: center;
}

.hero {
    background-color: #f3f3f7;
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.hero_row {
    align-items: center;
    display: flex;
}

.hero_column_img {
    border-radius: 0.5rem;
    height: 40rem;
    margin-top: 5px;
    width: 40rem;
}

.books {
    padding-bottom: 5rem;
    padding-top: 5rem;
}

.books_item {
    margin-top: 2rem;
}

.books_item_btn--orange,
.hero_colum_btn--orange,
.landing-btn--orange {
    background-color: #fa9a41;
    border: none;
}

.books_item_img {
    cursor: pointer;
    height: 25rem;
}

.card-metada-group {
    display: flex;
    gap: 1.6rem;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
}

.detail-page {
    padding-bottom: 10rem;
    padding-top: 11rem;
}

.detail-data-container {
    /* border-bottom: 2px solid orange; */
}

.detail-container_image {
    height: 50rem;
}

.datail-data {
    display: flex;
    gap: 2rem;
}

.detail-data--bold {
    font-weight: bold;
}
